In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\onedrive\desktop\capstone_project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
Updating files:   5% (490/9029)
Updating files:   6% (542/9029)
Updating files:   7% (633/9029)
Updating files:   8% (723/9029)
Updating files:   9% (813/9029)
Updating files:  10% (903/9029)
Updating files:  11% (994/9029)
Updating files:  12% (1084/9029)
Updating files:  13% (1174/9029)
Updating files:  14% (1265/9029)
Updating files:  14% (1271/9029)
Updating files:  15% (1355/9029)
Updating files:  16% (1445/9029)
Updating files:  17% (1535/9029)
Updating files:  18% (1626/9029)
Updating files:  19% (1716/9029)
Updating files:  20% (1806/9029)
Updating files:  21% (1897/9029)
Updating files:  22% (1987/9029)
Updating files:  22% (2068/9029)
Updating files:  23% (2077/9029)
Updating files:  24% (2167/9029)
Updating files:  25% (2258/9029)
Updating files:  26% (2348/9029)
Updating files:  27% (2438/9029)
Updating files:  28% (2529/9029)
Updating files:  29% (2619/9029)
Updating files:  30% (2709/9029)
Updating files:  30% (2727/9029)
Updating files:  31% (2799/9029)
Updating files:  32% (2890/9029)
Updating files:  33% (2980/9029)
Updating files:  33% (3065/9029)
Updating files:  34% (3070/9029)
Updating files:  35% (3161/9029)
Updating files:  36% (3251/9029)
Updating files:  37% (3341/9029)
Updating files:  38% (3432/9029)
Updating files:  38% (3438/9029)
Updating files:  39% (3522/9029)
Updating files:  40% (3612/9029)
Updating files:  41% (3702/9029)
Updating files:  42% (3793/9029)
Updating files:  43% (3883/9029)
Updating files:  43% (3927/9029)
Updating files:  44% (3973/9029)
Updating files:  45% (4064/9029)
Updating files:  46% (4154/9029)
Updating files:  47% (4244/9029)
Updating files:  48% (4334/9029)
Updating files:  49% (4425/9029)
Updating files:  50% (4515/9029)
Updating files:  51% (4605/9029)
Updating files:  51% (4685/9029)
Updating files:  52% (4696/9029)
Updating files:  53% (4786/9029)
Updating files:  54% (4876/9029)
Updating files:  55% (4966/9029)
Updating files:  56% (5057/9029)
Updating files:  57% (5147/9029)
Updating files:  57% (5226/9029)
Updating files:  58% (5237/9029)
Updating files:  59% (5328/9029)
Updating files:  60% (5418/9029)
Updating files:  61% (5508/9029)
Updating files:  62% (5598/9029)
Updating files:  63% (5689/9029)
Updating files:  64% (5779/9029)
Updating files:  65% (5869/9029)
Updating files:  65% (5927/9029)
Updating files:  66% (5960/9029)
Updating files:  67% (6050/9029)
Updating files:  68% (6140/9029)
Updating files:  69% (6231/9029)
Updating files:  70% (6321/9029)
Updating files:  71% (6411/9029)
Updating files:  71% (6417/9029)
Updating files:  72% (6501/9029)
Updating files:  73% (6592/9029)
Updating files:  73% (6664/9029)
Updating files:  74% (6682/9029)
Updating files:  75% (6772/9029)
Updating files:  75% (6831/9029)
Updating files:  76% (6863/9029)
Updating files:  77% (6953/9029)
Updating files:  78% (7043/9029)
Updating files:  79% (7133/9029)
Updating files:  80% (7224/9029)
Updating files:  80% (7247/9029)
Updating files:  81% (7314/9029)
Updating files:  82% (7404/9029)
Updating files:  83% (7495/9029)
Updating files:  84% (7585/9029)
Updating files:  85% (7675/9029)
Updating files:  86% (7765/9029)
Updating files:  87% (7856/9029)
Updating files:  87% (7861/9029)
Updating files:  88% (7946/9029)
Updating files:  89% (8036/9029)
Updating files:  90% (8127/9029)
Updating files:  91% (8217/9029)
Updating files:  92% (8307/9029)
Updating files:  93% (8397/9029)
Updating files:  94% (8488/9029)
Updating files:  95% (8578/9029)
Updating files:  96% (8668/9029)
Updating files:  96% (8729/9029)
Updating files:  97% (8759/9029)
Updating files:  98% (8849/9029)
Updating files:  99% (8939/9029)
Updating files: 100% (9029/9029)
Updating files: 100% (9029/9029), done.

In [6]:
import os
import psycopg2
import json
import pandas as pd

In [7]:
#aggregated_insurance

path1='C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/insurance/country/india/state'
path1_list = os.listdir(path1)
#print(path1_list)
columns_ins= {"States":[], "Years":[], "Quarter":[], "Insurance_type":[], "Insurance_count":[],"Insurance_amount":[] }


for state in path1_list:
    years = os.listdir(f'{path1}/{state}')

    for year in years:
        quarter = os.listdir(f'{path1}/{state}/{year}')

        for qtr in quarter:
            agg_ins_path = f'{path1}/{state}/{year}/{qtr}'
            #print(f'{path1}/{state}/{year}/{qtr}')

            with open (agg_ins_path,'r') as f:

                data = json.load(f)
                #print(data)
                for i in data["data"]["transactionData"]:
                    name = i["name"]
                    count = i["paymentInstruments"][0]["count"]
                    amount = i["paymentInstruments"][0]["amount"]
                    columns_ins["Insurance_type"].append(name)
                    columns_ins["Insurance_count"].append(count)
                    columns_ins["Insurance_amount"].append(amount)
                    columns_ins["States"].append(state)
                    columns_ins["Years"].append(year)
                    columns_ins["Quarter"].append(int(qtr.strip(".json")))

                    #print(columns_ins)

aggregated_insurance = pd.DataFrame(columns_ins)

aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("-"," ")
aggregated_insurance["States"] = aggregated_insurance["States"].str.title()
aggregated_insurance['States'] = aggregated_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

In [9]:
#aggregated_transaction

path2 ='C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/transaction/country/india/state'
path2_list = os.listdir(path2)

columns_tran = {"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }

for state in path2_list:
    years = os.listdir(f'{path2}/{state}')

    for year in years:
        quarter = os.listdir(f'{path2}/{state}/{year}')

        for qtr in quarter:
            agg_trn_path = f'{path2}/{state}/{year}/{qtr}'

            with open(agg_trn_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['transactionData']:
                    name = i['name']
                    count = i["paymentInstruments"][0]["count"]
                    amount = i["paymentInstruments"][0]["amount"]
                    columns_tran["Transaction_type"].append(name)
                    columns_tran["Transaction_count"].append(count)
                    columns_tran["Transaction_amount"].append(amount)
                    columns_tran["States"].append(state)
                    columns_tran["Years"].append(year)
                    columns_tran["Quarter"].append(int(qtr.strip(".json")))

aggregated_transaction = pd.DataFrame(columns_tran)

aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"] = aggregated_transaction["States"].str.title()
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
#aggregated_user

path3 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/aggregated/user/country/india/state'
path3_list = os.listdir(path3)

columns_user= {"States":[], "Years":[], "Quarter":[],"Transaction_count":[],"Brands":[],"Percentage":[]}

for state in path3_list:
    years = os.listdir(f'{path3}/{state}')

    for year in years:
        quarter = os.listdir(f'{path3}/{state}/{year}')

        for qtr in quarter:
            agg_user_path = f'{path3}/{state}/{year}/{qtr}'
            
            with open(agg_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                try:
                    for i in data['data']['usersByDevice']:
                        brand = i['brand']
                        count = i['count']
                        percentage = i['percentage']
                        columns_user["Brands"].append(brand)
                        columns_user["Transaction_count"].append(count)
                        columns_user["Percentage"].append(percentage)
                        columns_user["States"].append(state)
                        columns_user["Years"].append(year)
                        columns_user["Quarter"].append(int(qtr.strip(".json")))
                except:
                    pass
aggregated_user = pd.DataFrame(columns_user)

aggregated_user["States"] = aggregated_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_user["States"] = aggregated_user["States"].str.replace("-"," ")
aggregated_user["States"] = aggregated_user["States"].str.title()
aggregated_user['States'] = aggregated_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
#map_insurance

path4 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/insurance/hover/country/india/state'
#path4
path4_list = os.listdir(path4)
path4_list

columns_ins = {'States':[],'Years':[],'Quarter':[],'Districts':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path4_list:
    years = os.listdir(f'{path4}/{state}')

    for year in years:
        quarter = os.listdir(f'{path4}/{state}/{year}')

        for qtr in quarter:
            map_insurance_path = f'{path4}/{state}/{year}/{qtr}'

            with open(map_insurance_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverDataList']:
                    districts = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns_ins['Districts'].append(districts)
                    columns_ins['Transaction_count'].append(count)
                    columns_ins['Transaction_amount'].append(amount)
                    columns_ins['States'].append(state)
                    columns_ins['Years'].append(year)
                    columns_ins['Quarter'].append(int(qtr.strip(".json")))

map_insurance = pd.DataFrame(columns_ins)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance["States"] = map_insurance["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [12]:
#map_transaction

path5 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/transaction/hover/country/india/state'
#path5
path5_list = os.listdir(path5)
#path5_list

columns_trans = {'States':[],'Years':[],'Quarter':[],'Districts':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path5_list:
    years = os.listdir(f'{path5}/{state}')

    for year in years:
        quarter = os.listdir(f'{path5}/{state}/{year}')

        for qtr in quarter:
            map_transaction_path = f'{path5}/{state}/{year}/{qtr}'

            with open (map_transaction_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverDataList']:
                    districts = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns_trans['Districts'].append(districts)
                    columns_trans['Transaction_count'].append(count)
                    columns_trans['Transaction_amount'].append(amount)
                    columns_trans['States'].append(state)
                    columns_trans['Years'].append(year)
                    columns_trans['Quarter'].append(int(qtr.strip('.json')))

map_transaction = pd.DataFrame(columns_trans)

map_transaction['States'] = map_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction['States'] = map_transaction['States'].str.replace("-"," ")
map_transaction['States'] = map_transaction['States'].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [13]:
#map_user

path6 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/map/user/hover/country/india/state'
path6_list = os.listdir(path6)

columns_user = {'States':[],'Years':[],'Quarter':[],'Districts':[],'registered_user':[],'AppOpens':[]}

for state in path6_list:
    years = os.listdir(f'{path6}/{state}')

    for year in years:
        quarter = os.listdir(f'{path6}/{state}/{year}')

        for qtr in quarter:
            map_user_path = f'{path6}/{state}/{year}/{qtr}'

            with open (map_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data['data']['hoverData'].items():
                    districts = i[0]
                    registeredusers = i[1]['registeredUsers']
                    appopens = i[1]['appOpens']
                    columns_user['States'].append(state)
                    columns_user['Years'].append(year)
                    columns_user['Quarter'].append(int((qtr).strip('.json')))
                    columns_user['Districts'].append(districts)
                    columns_user['registered_user'].append(registeredusers)
                    columns_user['AppOpens'].append(appopens)

map_user = pd.DataFrame(columns_user)

map_user['States'] = map_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user['States'] = map_user['States'].str.replace("-"," ")
map_user['States'] = map_user['States'].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [14]:
#top_insurance

path7 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/insurance/country/india/state'
path7_list = os.listdir(path7)

columns_ins = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path7_list:
    years = os.listdir(f'{path7}/{state}')

    for year in years:
        quarter = os.listdir(f'{path7}/{state}/{year}')

        for qtr in quarter:
            top_ins_path = f'{path7}/{state}/{year}/{qtr}'

            with open (top_ins_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                    pincode = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns_ins["Pincodes"].append(pincode)
                    columns_ins["Transaction_count"].append(count)
                    columns_ins["Transaction_amount"].append(amount)
                    columns_ins["States"].append(state)
                    columns_ins["Years"].append(year)
                    columns_ins["Quarter"].append(int(qtr.strip(".json")))

top_insurance = pd.DataFrame(columns_ins)

top_insurance["States"] = top_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance["States"] = top_insurance["States"].str.replace("-"," ")
top_insurance["States"] = top_insurance["States"].str.title()
top_insurance['States'] = top_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [15]:
#top_transaction
path8 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/transaction/country/india/state'
path8_list = os.listdir(path8)

columns_trans = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Transaction_count':[],'Transaction_amount':[]}

for state in path8_list:
    years = os.listdir(f'{path8}/{state}')

    for year in years:
        quarter = os.listdir(f'{path8}/{state}/{year}')

        for qtr in quarter:
            top_transaction_path = f'{path8}/{state}/{year}/{qtr}'

            with open (top_transaction_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                    pincode = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns_trans["Pincodes"].append(pincode)
                    columns_trans["Transaction_count"].append(count)
                    columns_trans["Transaction_amount"].append(amount)
                    columns_trans["States"].append(state)
                    columns_trans["Years"].append(year)
                    columns_trans["Quarter"].append(int(qtr.strip(".json")))

top_transaction = pd.DataFrame(columns_trans)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [16]:
#top_user

path9 = 'C:/Users/user/OneDrive/Desktop/PhonePe_Project/pulse/data/top/user/country/india/state'
path9_list = os.listdir(path9)

columns_user =  {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "registered_users":[]}

for state in path9_list:
    years = os.listdir(f'{path9}/{state}')

    for year in years:
        quarter = os.listdir(f'{path9}/{state}/{year}')

        for qtr in quarter:
            top_user_path = f'{path9}/{state}/{year}/{qtr}'

            with open (top_user_path,'r') as f:
                data = json.load(f)
                #print(data)

                for i in data["data"]["pincodes"]:
                   name = i["name"]
                registeredusers = i["registeredUsers"]
                columns_user["Pincodes"].append(name)
                columns_user["registered_users"].append(registeredusers)
                columns_user["States"].append(state)
                columns_user["Years"].append(year)
                columns_user["Quarter"].append(int(qtr.strip(".json")))

top_user = pd.DataFrame(columns_user)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [17]:

mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        password = "mblaze0912",
                        database = "phonepe_insights",
                        port = "5432"
                        )
cursor = mydb.cursor()
mydb.autocommit = True

In [19]:
#table_creation
#aggregated_insurance

create_query1= '''CREATE TABLE if not exists aggregated_insurance 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Insurance_type varchar(50),
                    Insurance_count bigint,
                    Insurance_amount bigint
                    )'''  
cursor.execute(create_query1)
mydb.commit()

for index,row in aggregated_insurance.iterrows():
    insert_query1 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values1 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Insurance_type"],
              row["Insurance_count"],
              row["Insurance_amount"]
              )
    cursor.execute(insert_query1,values1)
mydb.commit()

#aggregated_transaction

create_query2= '''CREATE TABLE if not exists aggregated_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Transaction_type varchar(50),
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggregated_transaction.iterrows():
    insert_query2 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values2 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query2,values2)
mydb.commit()

#aggregated_user

create_query3= '''CREATE TABLE if not exists aggregated_user
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Brands varchar(50),
                    Transaction_count bigint,
                    Percentage float
                    )'''
cursor.execute(create_query3)
mydb.commit()
 
for index,row in aggregated_user.iterrows():
    insert_query3 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values3 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Brands"],
              row["Transaction_count"],
              row["Percentage"]
              )
    
    cursor.execute(insert_query3,values3)
mydb.commit()

#map_insurance

create_query4= '''CREATE TABLE if not exists map_insurance 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    Transaction_count bigint,
                    Transaction_amount float
                    )'''
cursor.execute(create_query4)
mydb.commit()
cursor.execute("ALTER TABLE map_insurance ADD COLUMN IF NOT EXISTS Districts VARCHAR(100);")
mydb.commit()

for index,row in map_insurance.iterrows():
            insert_query4 = '''INSERT INTO map_insurance (States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                                            VALUES (%s, %s, %s, %s, %s, %s)'''
            values4 = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['Districts'],
                row['Transaction_count'],
                row['Transaction_amount']
                )
            cursor.execute(insert_query4,values4)
mydb.commit()

#map_transactionaction

create_query5= '''CREATE TABLE if not exists map_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    Transaction_count bigint,
                    Transaction_amount float)'''
cursor.execute(create_query5)
mydb.commit

for index,row in map_transaction.iterrows():
            insert_query5 = '''INSERT INTO map_transaction(States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                                            VALUES (%s, %s, %s, %s, %s, %s)'''
            values5 = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['Districts'],
                row['Transaction_count'],
                row['Transaction_amount']
                )
            
            cursor.execute(insert_query5,values5)
mydb.commit()

#map_user

create_query6= '''CREATE TABLE if not exists map_user 
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Districts varchar(50),
                    AppOpens bigint
                    )'''
cursor.execute(create_query6)
mydb.commit()
cursor.execute("ALTER TABLE map_user ADD COLUMN registered_user INTEGER;")
mydb.commit()

for index,row in map_user.iterrows():
    insert_query6 = '''INSERT INTO map_user (States, Years, Quarter, Districts, registered_user, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values6 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Districts"],
              row["registered_user"],
              row["AppOpens"]
              )
    
    cursor.execute(insert_query6,values6)
    mydb.commit()

#top_insurance

create_query7= '''CREATE TABLE if not exists top_insurance
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Pincodes int,
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''
cursor.execute(create_query7)
mydb.commit()

for index,row in top_insurance.iterrows():
    insert_query7 = '''INSERT INTO top_insurance (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values7 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query7,values7)
mydb.commit()

#top_transaction

create_query8= '''CREATE TABLE if not exists top_transaction
                    (States varchar(50),
                    Years int,
                    Quarter int,
                    Pincodes int,
                    Transaction_count bigint,
                    Transaction_amount bigint
                    )'''

cursor.execute(create_query8)
mydb.commit()

for index,row in top_transaction.iterrows():
    insert_query8 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values8 = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query8,values8)
mydb.commit()

#top_user

create_query9 = '''CREATE TABLE IF NOT EXISTS top_user (
    states VARCHAR(50),
    years INT,
    quarter INT,
    pincodes TEXT,
    registered_users BIGINT
)'''
cursor.execute(create_query9)
mydb.commit()

for index, row in top_user.iterrows():
    insert_query9 = '''INSERT INTO top_user (states, years, quarter, pincodes, registered_users)
                       VALUES (%s, %s, %s, %s, %s)'''
    values9 = (
        row["States"],              # DataFrame column name
        row["Years"],
        row["Quarter"],
        row["Pincodes"],
        row["registered_users"]
    )
    cursor.execute(insert_query9, values9)

mydb.commit()